.lmj-plant-item-cover {
	height: 220px;
	width: 220px;
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	/* backdrop-filter: blur( 1px );
	-webkit-backdrop-filter: blur( 6px ); */
	border-radius: 20px;
	border: 1px solid rgba( 255, 255, 255, 0.35 );
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}